<nav class="shell-nav">
  <div class="nav-brand">
    <span class="nav-logo">🚗</span>
    <strong>FleetManager</strong>
  </div>
  <div class="nav-links">
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/vehicules"   routerLinkActive="active" *ngIf="isManager()">Véhicules</a>
    <a routerLink="/conducteurs" routerLinkActive="active" *ngIf="isManager()">Conducteurs</a>
    <a routerLink="/maintenance" routerLinkActive="active" *ngIf="isManager()">Maintenance</a>
  </div>
</nav>

<main class="shell-content">
  <router-outlet></router-outlet>
</main>